body {
  background-color: rgb(248, 250, 252);
  margin: 0;
  font-family:
    "Inter",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  align-content: center;
}

header div {
  text-align: center;
  color: rgb(37, 99, 235);
  font-size: 50px;
  font-weight: 900;
}

main {
  margin-top: 80px;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: green; */
}

.main_div {
  /* width: 300px; */
  /* height: 300px; */
  background-color: white;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
}

.main_div:hover {
  /* background-color: rgb(29, 78, 216); */
  /* transform: translateY(-20px); */
  transform: scale(1.03);
}

.main_div p {
  text-align: center;
  /* margin-top: 10px; */
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 400;
}
.main_div .form_div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  border-radius: 8px;
  /* width: 250px; */
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;
  /* margin-top: 10px; */
  border: 1px solid rgb(226, 232, 240);
  /* height: 30px; */
}
input:focus {
  outline: none;
  /* border: 1px solid rgb(37, 99, 235); */
  border-color: rgb(37, 99, 235);
}
#errorSpan {
  font-size: 16px;
  color: red;
}
#loginBtn {
  margin-top: 30px;
  border-radius: 8px;
  padding: 12px 16px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  background-color: rgb(37, 99, 235);
  border: none;
  transition: all 0.3s;
}
#loginBtn:hover {
  background-color: rgb(29, 78, 216);
  transform: translateY(-2px);
}
a {
  text-decoration: none;
  color: rgb(37, 99, 235);
}
